/* social-media {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: auto;
    background: #ebebeb;
    grid-gap: 1em;
    padding-left: 3%;
    padding-right: 3%;
}

#social-media>div {
    background: #ffffff;
    padding: 1em;
} */
#social-media {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 10px;
    background-color: #eeee;
    padding: 1em;
}

.miamiblue {
    background: #56A7D5;
}

.logo {
    font-family: 'Great Vibes', cursive;
    font-size: 130%;
    left: 20px;
}

.profile-pic {
    border: 4px solid #FD5433;
}

.twitter-container {
    background-color: #fff;
    width: 100%;
    grid-row-end: span 1;
}

.twitter-container>.content {
    display: flex;
    flex-direction: column;
}

.content {
    padding: 1em;
}

.twitter-info {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.twitter-text {
    flex: 1;
}

.twitter-user-info {
    padding-left: 0.5em;
}