#social-media {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    grid-auto-rows: 20px;
    background-color: #eeee;
    padding: 1em;
}

.miamiblue {
    background: #56A7D5;
}

.logo {
    font-family: 'Abril Fatface', cursive;
    font-size: 190%;
    left: 20px;
}

.profile-pic {
    border: 4px solid #FD5433;
    width: auto;
    height: 100%;
}

.twitter-container {
    background-color: #fff;
    width: 100%;
    grid-row-end: span 1;
}

.twitter-container>.content {
    display: flex;
    flex-direction: column;
}

.content {
    padding: 1em;
}

.twitter-info {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.twitter-text {
    flex: 1;
}

.twitter-user-info {
    padding-left: 0.5em;
}

.more-social-media {
    background: #eeeeee;
    width: 100%;
}

.more-social-media>button {
    display: block;
    background-color: #56a7d5;
    margin-left: auto;
    margin-right: auto;
    top: -1em;
}

.more-social-media>button:focus {
    background-color: #56A7D5;
}

.more-social-media>button:hover {
    background-color: #4899C7;
}

.dark-grey-text {
    color: #0f0f0f;
}

.carousel-slider {
    height: 400px !important;
    background: #56a7d5;
}

.medium-wrapper {
    height: 400px;
    width: 100%;
    text-align: left;
}

.medium-trapezoid {
    border-bottom: 400px solid #FD543380;
    border-left: 0px solid transparent;
    border-right: 150px solid transparent;
    height: 0;
    width: 60%;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.medium-wrapper>h1 {
    width: 50%;
    position: absolute;
    bottom: 8px;
    left: 16px;
}

@media only screen and (max-width: 600px) {
    .medium-trapezoid {
        border-bottom: 0px solid transparent;
        border-left: 0px solid transparent;
        border-right: 0px solid transparent;
        height: 100%;
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 0px;
        background: #FD543380;
    }

    .medium-wrapper>h1 {
        width:100%;
    }
}